{% extends "promoter.html" %}
{% block content %}
    {% for item in promotion %}
    <form method="post" action="{% url 'deleted_promotion' %}">
        {% csrf_token %}
        <p> Do you want to delete the following promotion?</p>
        <br />
        <label>Event name: {{ item.event.name }}</label>
        <br />
         <label>Promotion Code: {{ item.promo_code}}</label>
        <br />
        <label>Start Date: {{ item.start_date }}</label>
        <br />
        <label>End Date: {{ item.end_date }}</label>
        <input type="hidden" value="{{ item.pk }}" name="pk">
        <br />
        <br />
        <input type="submit" value="Delete">
    </form>
    {% endfor %}

{% include "message.html" %}
<script>
    $(document).ready(function(){
    });
</script>
{% endblock %}
