{% extends "promoter.html" %}
{% block content %}
    <h1>Delete Promotion</h1>
    <br />
    {% if promotion %}
    <form method="post" action="{% url 'deleted_promotion' %}">
        {% csrf_token %}
        <p> Do you want to delete the following promotion?</p>
        <br />
        <label>Event name: {{ promotion.event.name }}</label>
        <br />
         <label>Promotion Code: {{ promotion.promo_code}}</label>
        <br />
        <label>Start Date: {{ promotion.start_date }}</label>
        <br />
        <label>End Date: {{ promotion.end_date }}</label>
        <input type="hidden" value="{{ promotion.pk }}" name="pk">
        <br />
        <br />
        <input type="submit" value="Delete">
    </form>
    {% endif %}

{% include "message.html" %}
<script>
    $(document).ready(function(){
    });
</script>
{% endblock %}
