{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated  %}
<a href="/logout">Logout</a>
{% endif %}

    {% for item in promotions %}
    <form method="post" action="{% url 'edited_promotion'%}">
        {% csrf_token %}
        <br />
        <label for="event-name">Event Name: {{ item.event.name }}</label>
        <br />
        <label for="description">Event Name</label>
        <textarea rows="4" cols="50" name="description">{{ item.description }}</textarea>
        <br />
         <label for="start-date">Start Date</label>
        <input type="datetime-local" value="{{ item.start_date|date:'c' }}" name="start-date">
        <br />
        <label for="start-date">End Date</label>
        <input type="datetime-local" value="{{ item.end_date|date:'c' }}" name="end-date">
        <br />
        <input type="hidden" value="{{ item.pk }}" name="pk">
        <br />
        <input type="submit" value="Submit">
    </form>
    {% endfor %}

<script>
    $(document).ready(function(){
    });
</script>
{% endblock %}

