{% extends "base.html" %}
{% block content %}
<br />
<br />
    <h1>Notifications</h1>
    <table class="table" style="text-align:center;">
        <tr>
            <th>Event Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th>Promotion Code</th>
        </tr>
        {% for item in promotions %}
        <tr>
            <td>{{item.event.name}}</td>
            <td>{{item.start_date}}</td>
            <td>{{item.end_date}}</td>
            <td>{{item.description}}</td>
            <td>{{item.promo_code}}</td>
        </tr>
        {% endfor %}
    </table>
{% include "message.html" %}
{% include "scripts.html"%}
{% endblock %}
