<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<a href="/notifications">Notifications</a>
<a href="/edit_profile">Edit Profile</a>
<a href="/delete_profile/{{ user_id }}">Delete Profile</a>
<a href="/change_password">Change Password</a>

{% block content  %}

{% include "message.html" %}

<table class="table" style="text-align:center;">
    <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Performers</th>
        <th>Category</th>
        <th>Type</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    {% for item in wishlist %}
    <tr>
        <td>{{ item.event.name }}</td>
        <td>{{ item.event.description }}</td>
        <td>{{ item.event.venue_name }}</td>
        <td>{{ item.event.performer_names }}</td>
        <td>{{ item.category.name }}</td>

        {% if item.event.event_type == 'f'  %}
        <td>Free</td>
        {% else %}
        <td>Buy tickets</td>
        {% endif %}

        <td>{{ item.event.start_date }}</td>
        <td>{{ item.event.end_date }}</td>

        {% if user.is_authenticated %}
        <td><a href="#" event="{{ item.event.id }}" id="wishlist-{{ item.pk }}" type="unlike">Unlike</a></td>
         {% endif  %}
    </tr>
    {% endfor %}
</table>
{% include "scripts.html" %}


<script>
    $(document).ready(function(){

      $('table a').click(function(){

            if($(this).attr("type") == "unlike"){
             item = $(this)
            $.ajax({
            type: 'GET',
            url: "{% url 'unlike_event' %}",
            data: {"id": $(this).attr("event")},
            success: function (response) {
                item.closest("tr").remove();
            },
            error: function (response) {
                console.log(response)
            }
        })
            }
      })

    });
</script>
{% endblock  %}

</body>
</html>