{% extends "base.html" %}
{% block content  %}

<a href="/notifications">Notifications</a>
<a href="/edit_profile">Edit Profile</a>
<a href="/delete_profile/{{ user_id }}">Delete Profile</a>
<a href="/change_password">Change Password</a>



<table class="table table-striped table-bordered" style="text-align:center; margin-top: 10px;">
    <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Performers</th>
        <th>Category</th>
        <th>Type</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    {% for item in events %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.venue_name }}</td>
        <td>{{ item.performer_names }}</td>
        <td>{{ item.category.name }}</td>

        {% if item.event.event_type == 'f'  %}
        <td>Free</td>
        {% else %}
        <td>Buy tickets</td>
        {% endif %}

        <td>{{ item.start_date }}</td>
        <td>{{ item.end_date }}</td>

        {% if user.is_authenticated %}
        <td><a href="#" onClick="return false;" event="{{ item.id }}" id="wishlist-{{ item.pk }}" type="unlike">Unlike</a></td>
         {% endif  %}
    </tr>
    {% endfor %}
</table>
{% include "message.html" %}
{% include "scripts.html" %}


<script>
    $(document).ready(function(){

       $('a[href="#"]').click(function(event){
        event.preventDefault();
       });

      $('table a').click(function(e){
            if($(this).attr("type") == "unlike"){
             item = $(this)
             item.hide();
            $.ajax({
            type: 'GET',
            url: "{% url 'unlike_event' %}",
            data: {"id": $(this).attr("event")},
            success: function (response) {
                item.closest("tr").remove();
            },
            error: function (response) {
                console.log(response)
            }
        })
            }
      })

    });
</script>
{% endblock  %}

</body>
</html>