{% extends "promoter.html" %}

{% block content %}
    <h1>Delete Event</h1>
    <br />
    {% if event %}
    <form method="post" action="{% url 'deleted_event'%}">

        {% csrf_token %}
        <p> Do you want to delete the following event?</p>
        <br />
        <label>Event Name: {{ event.name }}</label>
         <br />
        <label>Start Date: {{ event.start_date }}</label>
         <br />
        <label>End Date: {{ event.end_date }}</label>
        <br />
        <input type="hidden" value="{{ event.pk }}" name="pk">
         <br />
        <input type="submit" value="Delete">

    </form>
{% endif %}

{% include "message.html" %}
<script>
    $(document).ready(function(){
    });
</script>
{% endblock %}