{% extends "promoter.html" %}

{% block content %}
    <h1>Edit Event</h1>

    {% if event %}
    <form method="post" action="{% url 'edited_event'%}">
        {% csrf_token %}
        <label for="event-name">Event Name</label>
        <br />
        <input value="{{ event.name }}" name="event-name">
        <br />
         <label for="event-description">Description</label>
        <br />
        <textarea rows="4" cols="50" name="description">{{ event.description }}</textarea>
        <br />
         <label for="venue-name">Venue Name</label>
        <br />
        <input value="{{ event.venue_name }}" name="venue-name">
        <br />
        <label for="performer-names">Performer Names</label>
        <br />
        <input value="{{ event.performer_names }}" name="performer-names">
        <br />
        {% if item.event_type == 'p' %}
        <label for="ticket-price">Ticket Price</label>
        <br />
        <input type="decimal" value="{{ event.ticket_price }}" name="ticket-price">
        <br />
        <label for="ticket-price">Ticket Quantity</label>
        <br />
        <input type="number" value="{{ event.ticket_quantity }}" name="ticket-quantity">
        <br />
        {% else %}
        <input type="hidden" value="{{ event.ticket_price }}" name="ticket-price">
        <br />
        <input type="hidden" value="{{ event.ticket_quantity }}" name="ticket-quantity">
        <br />
        {% endif %}
         <label for="start-date">Start Date</label>
        <br />
        <input type="datetime-local" value="{{ event.start_date|date:'c' }}" name="start-date">
        <br />
        <label for="end-date">End Date</label>
        <br />
        <input type="datetime-local" value="{{ event.end_date|date:'c' }}" name="end-date">
        <br />
        <input type="hidden" value="{{ event.pk }}" name="pk">
        <br />
        <input type="submit" value="Submit">
    </form>
    {% endif %}
{% include "message.html" %}
<script>
    $(document).ready(function(){
    });
</script>
{% endblock %}
