{% extends "promoter.html" %}

{% block content %}
<br />
<br />
    {% for item in events %}
    <form method="post" action="{% url 'deleted_event'%}">
        {% csrf_token %}
        <p> Do you want to delete the following event?</p>
        <br />
        <label>Event Name: {{ item.name }}</label>
         <br />
        <label>Start Date: {{ item.start_date }}</label>
         <br />
        <label>End Date: {{ item.end_date }}</label>
        <br />
        <input type="hidden" value="{{ item.pk }}" name="pk">
         <br />
        <input type="submit" value="Delete">
    </form>
    {% endfor %}

{% include "message.html" %}
<script>
    $(document).ready(function(){
    });
</script>
{% endblock %}