{% extends "promoter.html" %}

{% block content %}
   <h1>Create an Event</h1>
   <form method="post" action="{% url 'created_event'%}">
        {% csrf_token %}
        <br />
       <label for="event-name">Event Name</label>
       <br />
       <input  type="text"  name="event-name" required>
       <br />
       <label for="event-type">Event Type</label>
       <br />
       <select name="event-type" id="event-type" required>
             <option value="f">Free</option>
             <option value="p">Paid</option>
       </select>
       <br />
       <label for="category">Category Name</label>
       <br />
       <select name="category-name" id="categories">
        {% for item in categories %}
             <option value="{{item.name}}">{{item.name}}</option>
        {% endfor %}
       </select>
        <br />
       <label for="description">Description</label>
       <br />
        <textarea type="text"  rows="4" cols="50" name="description" required></textarea>
       <br />
       <label for="venue-name">Venue Name</label>
       <br />
       <input type="text"   name="venue-name" required>
        <br />
       <label for="performer-names">Performer Names</label>
       <br />
       <input type="text" name="performer-names" required>
       <br />
       <label for="ticket-quantity" id="ticket-quantity-label">Ticket Quantity (Max 10000)</label>
       <br />
       <input type="number"  id="ticket-quantity" name="ticket-quantity">
       <br />
       <label for="ticket-price" id="ticket-price-label">Ticket Price (e.g 10.00)</label>
       <br />
       <input type="decimal"  id="ticket-price" name="ticket-price" step=".01">
       <br />
       <label for="start-date">Start Date</label>
       <br />
       <input type="datetime-local" name="start-date" required>
       <br />
       <label for="end-date">End Date</label>
       <br />
       <input type="datetime-local" name="end-date" required>
       <br />
       <input type="submit" value="Submit">
    </form>
{% include "message.html" %}
<script>
    $(document).ready(function(){
    console.log('herey')
  if ($('#event-type').val() == 'f'){
    $('#ticket-quantity').hide()
    $('#ticket-price').hide()
    $('#ticket-quantity-label').hide()
    $('#ticket-price-label').hide()
    }

        $('#event-type').change(function(){
            console.log($('#event-type').val())
            if ($('#event-type').val() == 'p'){
                $('#ticket-quantity').show()
                $('#ticket-price').show()
                $('#ticket-quantity-label').show()
                $('#ticket-price-label').show()
            } else{
                $('#ticket-quantity').hide()
                $('#ticket-price').hide()
                $('#ticket-quantity-label').hide()
                $('#ticket-price-label').hide()
            }
        });
    });
</script>

{% endblock  %}


