{% extends "promoter.html" %}

{% block content %}
    <h1>View Promotions</h1>
    <br />
    {% if promotions|length > 0 %}
    <table class="table table-striped table-bordered" style="text-align:center; margin-top: 10px;">
    <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Promo Code</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    {% for item in promotions %}
    <tr>
        <td>{{ item.event.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.promo_code }}</td>
        <td>{{ item.start_date }}</td>
        <td>{{ item.end_date }}</td>
        <td><a href="/edit_promotion/{{ item.pk }}" >Edit</a></td>
        <td><a href="/delete_promotion/{{ item.pk }}" >Delete</a></td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}
